<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductApp - Categories</title>
</head>
<body>
    <h1>Welcome to E-Commerce Products App</h1><br><br>
    <h3>Categories Master</h3>
    <p>click here to show categories <a href="productsApp/categories">Categories</a></p><br>
    <h3>Products Master</h3>
    <p>click here to show all <a href="productsApp/all-products?page=1&limit=10">Products</a> with pagination</p><br>
    
</body>
</html>