<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product - App</title>
</head>
<body>
    <h1>Categories Master</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Category</th>
                <th>Category ID</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            
            <% for (let i=0; i<[...new Set( allProducts.map((e)=>e.category) )].length ; i++) { %>
                <tr>
                    <td><%=[...new Set( allProducts.map((e)=>e.category) )][i]%></td>
                    <td><%=[...new Set( allProducts.map((e)=>e.cat_id) )][i]%></td>
                    <td><%=allProducts.filter((obj)=>obj.category == `${[...new Set( allProducts.map((e)=>e.category) )][i]}`).length%></td>
                </tr>
            <% } %>
        
        </tbody>
    </table>
    <p>click here to show all <a href="products/all-products?page=1&limit=10">products</a> with pagination</p>
    <!-- <%=[...new Set( allProducts.map((e)=>e.category) )]%> -->
    
</body>
</html>